body{background: $gray-lighter;}

.navbar-brand{
	img{float: left;margin: -5px;}
	span{display: inline-block;float: left;padding-left: 10px;font-size: 20px;}
}

.dash-content{
	margin-top:50px;padding-top:15px;

	.section{
		h2{margin: 0;font-family: $font-family-brand;}
		.tab-content{background: #fff;}
		.tab-pane{
			padding-top: 20px;
    		padding-left: 5px;
		}
	}

	.section-content{background: #fff;}

	.table{
		td.tools-column{
			@extend .text-right;
			a{display: none;}
		}
		tr:hover{
			.tools-column a{display: inline;}
		}
	}
}

.panel{
	.panel-footer{
		.tools-footer{
			display: none;@extend .pull-right;
			a{margin-left: 10px;}
		}
		.label{ margin-top: 5px;}
	}
	&:hover{
		.tools-footer{display: block;}
	}
}