.checkbox-row {
    position: relative;
    margin: 15px 0;

    &.disabled{
        label {
            background: $input-bg-disabled !important;
            cursor: not-allowed;
            &:after {
                content: none;
            }
            &:hover::after {
                opacity: 0;
            }
        }
        input[type=checkbox]:checked + label:after {
            content: '' !important;
            opacity: 1 !important;
        } 
    }

    label {
        width: 22px;
        height: 22px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        background: #fff;

        &:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 6px;
            left: 6px;
            border: 3px solid $gray;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            transform: rotate(-45deg);
        }

        &:hover::after {
            opacity: 0.5;
        }
    }

    span{
        font-weight: normal;
        margin-left: 30px;
        width: 290px;
        position: absolute;
    }

    input[type=checkbox] {
        visibility: hidden;
        
        &:checked + label:after {
            opacity: 1;
        }
    }    
}