.auth-row{min-height: 100%;height: auto !important; margin-bottom: 50px;}
.form-auth{margin-top: 20%;background: #fff;padding: 30px;}

@media (max-width: $screen-sm-max) {
	.form-auth{margin-top: 30px;}
}