body{background: $gray-lighter;}

.navbar-brand{
	img{float: left;margin: -5px;}
	span{display: inline-block;float: left;padding-left: 10px;font-size: 20px;}
}

.landing-screen{
	i.fa{font-size: 100px; color: lighten($gray-light, 50%);margin-top: 50px;margin-bottom: 30px;}
}

.dashboard-section{
	padding-top: 15px;
}

.dash-content{
	margin-top:50px;padding-top:15px;

	.section{
		h2{margin: 0;font-family: $font-family-brand;}
		.tab-content{background: #fff;}
		.tab-pane{
			padding: 15px;
			.form-horizontal, .columns{
				padding-top: 15px;
				.placeholder{margin-top: -15px;}
			}
		}
	}

	.section-content{
		background: #fff;
		&.section-content-transparent{background:transparent;}
	}

	.table{
		td.tools-column{
			@extend .text-right;width: 150px;height: 40px;
			a{display: none;}
		}
		tr:hover{
			.tools-column a{display: inline-block;}
		}
	}

	.criteria-filter{
		label{margin-right: 15px;}
		.panel-body{padding: 15px 15px 5px 15px;}
		.form-group{margin-right: 25px;margin-bottom: 10px;}
		.btn-col{margin-right: 0;}
	}
}

.panel{
	.panel-footer{
		.tools-footer{
			display: none;@extend .pull-right;
			a{margin-left: 10px;}
		}
		.label{ margin-top: 5px;}
	}
	&:hover{
		.tools-footer{display: block;}
	}
}

.placeholder{
  background: -webkit-repeating-linear-gradient(135deg, #fff, #fff 25%, #F7F7F7 25%, #F7F7F7 50%, #fff 50%) top left fixed;
  background: repeating-linear-gradient(-45deg, #fff, #fff 25%, #F7F7F7 25%, #F7F7F7 50%, #fff 50%) top left fixed;
  background-size: 30px 30px; 
  text-align: center;padding:30px 15px;
  margin: 0 -15px;
  color: $gray-light;
}
.placeholder-row{
	padding: 15px;
	.placeholder{margin: 0;}
}

.breadcrumb{padding: 8px 0 ;background: transparent;}

.pagination-row{width:100%;text-align: center;}

footer{margin-top: 10px;}