.file-uploader{
    .upload-block{
        float: left;border:thin solid $gray-lighter;border-radius: 3px;
        .fileinput-button{
            padding: 0;text-align: center;opacity: .2;background: $gray-lighter;
            i.fa{color: $gray-light;opacity: .3;}
            &:hover{opacity:.4}
            &.disabled{
                background:$input-bg-disabled;
            }
        }
        .progress{height: 5px;margin-right: 5px;margin-left: 5px;position: absolute;bottom: 5px;margin-bottom: 0;}
    }
    .delete-img{color: $brand-danger;position: absolute;top: 0;right: -20px;padding: 5px;z-index: 20;display: none;}
    &:hover{
        .delete-img{display: inline;}
    }
    .uploaded-files{
        float: left;
        .block{float: left;border:thin solid $gray-lighter;border-radius: 3px;}
    }
    &.single{
        .upload-block{position: relative;z-index: 10;}
        .uploaded-files{position: absolute;z-index: 9;}
    }
    &.small{
        .block{width: 80px;}
        .upload-block,.upload-block .fileinput-button{
            width: 80px;height: 80px;line-height: 80px;
            i.fa{font-size:20px;}
            .progress{width: 80px-10px}
        }
    }
    &.large{
        .block{width: 160px;}
        .upload-block,.upload-block .fileinput-button{
            width: 160px;height: 160px;line-height: 160px;
            i.fa{font-size:40px;}
            .progress{width: 160px-10px}
        }
    }
}


.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}
