$brand-primary:         darken(#3498db, 6.5%) !default; // #337ab7
$brand-success:         #27ae60 !default;
$brand-info:            #2980b9 !default;
$brand-warning:         #e67e22 !default;
$brand-danger:          #c0392b !default;

$font-family-sans-serif: 'Roboto', sans-serif !default;
$font-family-serif:      'Roboto', sans-serif !default;
