@import "../../../../Base/resources/assets/sass/variables";

body{
	background: $gray-lighter;
}

.dash-content{
	.tab-card{
		.nav{
			margin: 10px;
		}
	}

}

.landing-screen{

	i.fa{
		font-size: 100px;
		color: lighten($gray-light, 50%);
		margin-top: 50px;
		margin-bottom: 30px;
	}
}

.placeholder{
	background: -webkit-repeating-linear-gradient(135deg, #fff, #fff 25%, #F7F7F7 25%, #F7F7F7 50%, #fff 50%) top left fixed;
	background: repeating-linear-gradient(-45deg, #fff, #fff 25%, #F7F7F7 25%, #F7F7F7 50%, #fff 50%) top left fixed;
	background-size: 30px 30px;
	text-align: center;padding:30px 15px;
	margin: 0 -15px;
	color: $gray-light;
}
.placeholder-row{
	padding: 15px;
	.placeholder{margin: 0;}
}

footer{margin-top: 10px;}