@import "../../../../Base/resources/assets/sass/bs";

body{
	background: $gray-lighter;
	font-family: $font-family-sans-serif;
}

.navbar {

	.navbar-brand {
		font-family: $font-family-brand;
	}

	.nav-item .fa {
		font-size: 1.4em;
		margin-right: .5rem;
		position: relative;
		top: .2rem;
	}

	.hyper-search-form {
		margin-right: 1rem;
	}
}

.dash-content{

	h2{
		margin: 15px 0;
		color: $gray-600;
	}

	.tab-card{

		.nav{
			margin: 10px;
		}
	}

	.tab-content{
		@extend .card;
		padding: 15px;
		min-height:70vh;
	}
}

.landing-screen{

	i.fa{
		font-size: 100px;
		color: lighten($gray-light, 50%);
		margin-top: 50px;
		margin-bottom: 30px;
	}
}

.placeholder{
	background: -webkit-repeating-linear-gradient(135deg, #fff, #fff 25%, #F7F7F7 25%, #F7F7F7 50%, #fff 50%) top left fixed;
	background: repeating-linear-gradient(-45deg, #fff, #fff 25%, #F7F7F7 25%, #F7F7F7 50%, #fff 50%) top left fixed;
	background-size: 30px 30px;
	text-align: center;padding:30px 15px;
	margin: 0 -15px;
	color: $gray-light;
}
.placeholder-row{
	padding: 15px;
	.placeholder{margin: 0;}
}

footer{margin-top: 10px;}