@import "../../../../Base/resources/assets/sass/bs";

body{
	background: $gray-lighter;
	font-family: $font-family-sans-serif;
}

.navbar {

	.navbar-brand {
		font-family: $font-family-brand;
	}

	.nav-item .fa {
		font-size: 1.4em;
		margin-right: .5rem;
		position: relative;
		top: .2rem;
	}

	.hyper-search-form {
		margin-right: 1rem;
	}
}

.dash-content{

	h2{
		margin: $box-padding 0;
		color: $gray-600;
	}

	.tab-card{

		.nav{
			margin: 0.625rem;
		}
	}

	.tabs-view-tabs {

		.nav-link.active {
			@extend .card;
			color: $text-color;
			border-right: none;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	@media (min-width: 992px) {

		.tabs-view-tabs {
			margin-top: $box-padding * 2;

			.flex-column {
				position: relative;
				z-index: 1;
				margin-right: -$box-padding * 2 - $border-width;
			}
		}
	}

	.tab-content{

		@extend .card;
		padding: $box-padding;
		min-height:70vh;
	}
}

.landing-screen{

	min-height: 80vh;

	i.fa{
		font-size: 6.25rem;
		color: lighten($gray-light, 50%);
		margin-top: 3.125rem;
		margin-bottom: $box-padding * 2;
	}
}

.placeholder{
	background: -webkit-repeating-linear-gradient(135deg, #fff, #fff 25%, #F7F7F7 25%, #F7F7F7 50%, #fff 50%) top left fixed;
	background: repeating-linear-gradient(-45deg, #fff, #fff 25%, #F7F7F7 25%, #F7F7F7 50%, #fff 50%) top left fixed;
	background-size: $box-padding * 2 $box-padding * 2;
	text-align: center;
	padding: $box-padding * 2 $box-padding;
	margin: 0 -$box-padding;
	color: $gray-light;
}
.placeholder-row{

	padding: $box-padding;

	.placeholder {
		margin: 0;
	}
}

footer {
	margin-top: 0.625rem;
}